* {
  box-sizing: border-box
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: #666;
  background: #F6F6F6;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  padding: 1.5vw 1vw;
  background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);

  margin: auto;
  height: 25%;
}

h1 {
  font-size: 2.5vh;
  color: white;
  margin: 0;
  height: 100%;
  width: 100%;

}

img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

p {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
  white-space: pre;
}

button {
  /* padding: 1vw; */
  font-size: 1.5vw;
  border: none;
  transition: all .2s linear;
  outline: 0;
  background-color: rgb(192, 192, 192);
  margin: auto;
}

.field-light.text {
  padding: 1vw;
  font-size: 1.5vw;
  margin-bottom: 0;
  margin-right: auto;
    margin-left: auto;
}

.headerImage {
  width: 20vw;
  height: 20vw;
  background: url("lego.svg") center center no-repeat;
  background-size: cover;
  object-fit: contain;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
}

button:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
}

.partImg {
  max-width: 25%;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

.card:nth-child(2n) .title {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(4n) .title {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(5n) .title {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}