<div class="py2 post-footer">
  <img src="{{ site.baseurl }}/images/me.jpeg" alt="John Otander" class="avatar" />
  <p>
    James is a dad to two amazing boys, husband to a brilliant wife, and previously lead the glamorous life of a Barista
    by day and DJ by night. He's now squarely focussed on enabling employees to do their best work as a SysAdmin for
    Culture Amp
  </p>
  <script>
    anchors.options = {
      visible: 'touch',
      placement: 'left'
    };
    anchors.add('article h2, article h3, article h4, article h5, article h6');
  </script>
</div>