<link rel="stylesheet" href="/css/comments.css">
<h3>Comments</h3>
<noscript>
  <p>You need JavaScript to view comments here.</p>
</noscript>
<div class="comments">
  <p>You can use your Mastodon (or Fediverse) account to <a class="link"
      href="https://{{ .Site.Params.comment.fediverse.host }}/@{{ .Site.Params.comment.fediverse.user }}/{{ .Params.fediverse }}"
      target="_blank" rel="noreferrer noopener me">reply
      to this post here</a>.
  </p>

  <div class="mastodon-comments-list" id="mastodon-comments-list"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.3/purify.min.js"
  integrity="sha512-3dcbndbDLLWfKWevQu8C/1qVRcxx6h+eRDSnn3/pcBZHISRJgsj3u71U/Ad6nQVHrEi05hOSr6Hnb/p0pWc94w=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  var commentsLoaded = false;
  var host = '{{ .Site.Params.comment.fediverse.host }}';
  var user = '{{ .Site.Params.comment.fediverse.user }}';
  var id = '{{ .Params.fediverse }}';
  var toot_url = 'https://' + host + '/api/v1/statuses/' + id + '/context';

  function escapeHtml(unsafe) {
    return unsafe
      .replace(/&/g, "&amp;")
      .replace(/</g, "&lt;")
      .replace(/>/g, "&gt;")
      .replace(/"/g, "&quot;")
      .replace(/'/g, "&#039;");
  }

  function tootActive(toot, what) {
    var classes = [what];
    var count = toot[what + "_count"];
    if (count > 0) {
      classes.push("active");
    }
    return classes;
  }

  function tootCount(toot, what) {
    var count = toot[what + "_count"];
    return count > 0 ? count : "";
  }

  function userAccount(account) {
    var result = `@${account.acct}`;
    if (account.acct.indexOf('@') === -1) {
      var domain = new URL(account.url);
      result += `@${domain.hostname}`;
    }
    return result;
  }

  function renderToot(response) {
    console.log(response);
    let reply = document.createElement('div');
    reply.classList.add('mastodon-comment');

    let author = document.createElement('div');
    author.classList.add('author');

    let avatar = document.createElement('div');
    avatar.classList.add('avatar');
    avatar.innerHTML = "<img class='avatar' src=" + escapeHtml(response.account.avatar_static) + " height=60 width=60>";

    let details = document.createElement('div');
    details.classList.add('details');
    details.innerHTML += "<a class='name' href=" + response.account.url + " rel='noreferrer noopener me' target='_blank'>" + response.account.display_name + "</a>";
    details.innerHTML += "<a class='user' href=" + response.account.url + " rel='noreferrer noopener me' target='_blank'>" + userAccount(response.account) + "</a>";

    // Author Div
    reply.appendChild(author);
    author.appendChild(avatar);
    author.appendChild(details);

    author.innerHTML += "<a class='date' href=" + response.url + " rel='noreferrer noopener me' target='_blank'>" + response.created_at.substr(0, 10) + response.created_at.substr(11, 8) + "</a>";

    let content = document.createElement('div');
    content.classList.add('content');
    content.innerHTML = response.content;

    let status = document.createElement('div');
    status.classList.add('status');

    let replies = document.createElement('div');
    replies.classList.add(tootActive(response, "replies"));
    replies.innerHTML = "<a href=" + response.url + " rel='noreferrer noopener me' target='_blank'><i class='fa fa-reply fa-fw'></i>" + tootCount(response, "replies") + "</a>";

    let reblogs = document.createElement('div');
    reblogs.classList.add(tootActive(response, "reblogs"));
    reblogs.innerHTML = "<a href=" + response.url + " rel='noreferrer noopener me' target='_blank'><i class='fa fa-retweet fa-fw'></i>" + tootCount(response, "reblogs") + "</a>";

    let favourites = document.createElement('div');
    favourites.classList.add(tootActive(response, "favourites"));
    favourites.innerHTML = "<a href=" + response.url + " rel='noreferrer noopener me' target='_blank'><i class='fa fa-star fa-fw'></i>" + tootCount(response, "favourites") + "</a>";

    // Content Div
    reply.appendChild(content);
    // Look at adding images down the line https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_animate

    // Status Div
    reply.appendChild(status);
    status.appendChild(replies);
    status.appendChild(reblogs);
    status.appendChild(favourites);

    return reply;
  }

  function loadComments() {
    if (commentsLoaded) return;

    document.getElementById("mastodon-comments-list").innerHTML = "Loading comments from the Fediverse...";

    fetch(toot_url)
      .then(function (response) {
        return response.json();
      })
      .then(function (data) {
        console.log(data);
        if (data['descendants'] && Array.isArray(data['descendants']) && data['descendants'].length > 0) {
          document.getElementById('mastodon-comments-list').innerHTML = "";
          let descendants = data.descendants;
          for (let i = 0; i < descendants.length; i++) {
            document.getElementById('mastodon-comments-list').appendChild(renderToot(descendants[i]),
              { 'RETURN_DOM_FRAGMENT': true });
          }
        } else {
          document.getElementById('mastodon-comments-list').innerHTML
            = "<p>Be the first to comment</p>";
        }

        commentsLoaded = true;
      });
  }

  var comments = document.getElementById("mastodon-comments-list");
  window.onload = loadComments;

</script>
